html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

section {
  height: 100vh;
  margin: 5px;
  padding-top: 100px;
  background-color: white;
}

footer{
  height: 50px;
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 10px;
}

.navbar-main{
/*  -webkit-transition: all .35s;
  -moz-transition: all .35s;*/
  transition: all .35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: bold;
  letter-spacing: 1px;
  z-index: 1000;
  background-color: transparent;
  border: 1px solid transparent;
}
a{
  color: white;
}
#welcome{
  color:white;
  width: 100%;
  background-image: url("../img/welcome_space.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#who{

}

#project{

}

#contact{

}
